
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TestTeam_Activity.iml
.idea/vcs.xml
build/copie_activite/Analysis-00.toc
build/copie_activite/base_library.zip
build/copie_activite/copie_activite.exe.manifest
build/copie_activite/copie_activite.pkg
build/copie_activite/EXE-00.toc
build/copie_activite/PKG-00.toc
build/copie_activite/PYZ-00.pyz
build/copie_activite/PYZ-00.toc
build/copie_activite/Tree-00.toc
build/copie_activite/Tree-01.toc
build/copie_activite/Tree-02.toc
build/copie_activite/warn-copie_activite.txt
build/copie_activite/xref-copie_activite.html
copie_activite.spec
dist/Output.xlsx
Output.xlsx
graph.ini
dist/copie_activite.exe
.gitignore
